[Unit]
Description=RentHouse monthly report

[Service]
Type=oneshot
User=sovathanafc2
Group=www-data
WorkingDirectory=/opt/rentHouseApp
Environment="DJANGO_SETTINGS_MODULE=rentHouseApp.settings_prod"
EnvironmentFile=/opt/rentHouseApp/.env
ExecStart=/opt/rentHouseApp/.venv/bin/python /opt/rentHouseApp/manage.py send_monthly_report

